body {
    font-family: 'Poppins', sans-serif;
}


.shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

}



.disabled {
    opacity: 0.5;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

.cooldown-text {
    opacity: 1;
    color: red; 
    font-weight: bold;
    transition: opacity 0.3s ease;
}

button.disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
    transition: opacity 0.5s ease;

}

button .cooldown-text {
    font-size: 0.9em;
    color: #ffcc00;
    display: block;
    transition: opacity 0.5s ease;

}